<h1>All Sweets</h1>

<ul>
  <% @sweets.each do |sweet| %>
    <li><%= link_to sweet.name, sweet_path(sweet) %></li>
  <% end  %>
</ul>
<button>
<%= link_to "New Vendor-Sweet", new_vendor_sweet_path %>
</button>